{% extends 'base.html' %}
{% block newcontent %}
<div class="container">
    <div class="panel">
        <div class="content center">
            {%if user.aboutme %}
            <p>{{ user.aboutme[0].content | cdecode1 | safe  }} </p>
            {%else %}
             <p>去用户中心设置更多的信息</p>
            {%endif%}
        </div>
    </div>

</div>

{% endblock %}
{% block styles%}
{{ super() }}
<style>
       .change{
          color:blue;
       }

      .center{
         width:90%;
         margin: 0 auto;

      }

      .word{
        font-size:10px;
      }

</style>
{% endblock %}